@charset "utf-8";

/* Мобильная версия сайта */


@media screen and (max-width: 339px) {

html, body, div, p, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    
    position: relative;
}

div {
	display: block;}

#wrapper {
	margin: 0 auto;
	margin-top: -13.6%;
    max-width: 100%;
    min-width: 100%;
	height: auto;
    font-family: Arial;
	font-size: 45%;
	overflow: hidden;
}


/* Левый сайдбар */

.leftbox {
	position: absolute;
    width: 100%;
    z-index: 10;
}



/* Меню */

.menu {
	display: none;}
	

#menu__mob {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 114%;
    line-height: 0px;
}



.menu__item {
    display: block;
    height: 148px;
    color: #000;
    text-decoration: none;
	background-color: #fff;
}

.menu__insta {
	position: absolute;
    display: inline;
    z-index: 10;
    background: url(images/insta.png) no-repeat 40% 28%;
    background-color: #fff;
    background-size: 33%;
    margin-top: 82.9%;
    margin-left: -814%;
    width: 329.3%;
}

.menu__insta p {
	margin-top: 51%;
    margin-left: 26%;
}

.menu__project {
	position: absolute;
	display: inline;
    background: url(images/prize.png) no-repeat 51% 14%;
    background-color: #fff;
    background-size: 33%;
    z-index: 10;
	margin-top: 82.9%;
    margin-left: -485%;
    width: 330.3%;
}

.menu__project p {
	margin-top: 50%;
    margin-left: 28%;
}

.menu__action {
	position: absolute;
    display: inline;
    z-index: 10;
    background: url(images/map.png) no-repeat 47% 26%;
    background-color: #fff;
    background-size: 33%;
    margin-top: 82.9%;
    margin-left: -155%;
    width: 331.3%;
}

.menu__action p {
	margin-top: 50%;
    margin-left: 26%;
}

/* Содержание */

.rightbox {
	height: 100%;
	z-index: 9;
}

.cont {
	background-color: white }
	
.cont__link {
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

/* Велик */
.cont__banner {
    position: relative;
}

.cont__banner1 {
    width: 100%;
}

.cont__banner .cont__link p {
	padding-top: 18%;
    text-align: center;
    color: #7D7D7D;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    line-height: 1.1;
	}
	
.cont__bannerphon {
	display: none;}
	
.cont__bannerphon2 {
	position: absolute;
	width: 100%;
	z-index:2;
}
	
.cont__bannerphon3 {
	z-index:1;
	transform: translateY(108.8%);
    margin-bottom: 114.2%;
}

.cont__bannerlogo {
    z-index: 4;
    position: absolute;
    left: 6%;
    top: 23.5%;
    width: 17.4%;
}

.cont__bannerslog {
    z-index: 4;
    position: absolute;
    left: 33.8%;
    top: 28.5%;
    width: 36%;
}

.cont__bannermenu {
	z-index: 4;
    position: absolute;
    left: 82.2%;
    top: 27.4%;
    width: 10.1%;
}

.cont__bannercam {
    z-index: 4;
    position: absolute;
    left: 15.7%;
    top: 91.4%;
    width: 8.6%;
}

.cont__bannerellipse1 {
    z-index: 3;
    position: absolute;
	left: 10.1%;
    top: 86.4%;
    width: 20.2%;
}

.cont__img__te1 {
    z-index: 4;
    position: absolute;
    left: 3.8%;
    top: 102.8%;
}
	
.cont__bannerheart {
    z-index: 4;
    position: absolute;
    left: 44.1%;
    top: 92.3%;
    width: 9.8%;
}

.cont__bannerellipse2 {
    z-index: 3;
    position: absolute;
    left: 38.8%;
    top: 86.3%;
    width: 20.2%;
}

.cont__img__te2 {
    z-index: 4;
    position: absolute;
    left: 40.5%;
    top: 104.9%;
}

.cont__bannerprize {
    z-index: 4;
    position: absolute;
    left: 73.8%;
    top: 90.7%;
    width: 9.2%;	
}

.cont__bannerellipse3 {
    z-index: 3;
    position: absolute;
    left: 68%;
    top: 86.3%;
    width: 20.2%;
}

.cont__img__te3 {
    z-index: 4;
    position: absolute;
    left: 66.5%;
    top: 103.7%;
}

.cont__bannerslogan {
    z-index: 3;
    position: absolute;
    left: 30.5%;
    top: 51.3%;
    width: 41.1%;
}

.cont__banner img {
    display: block;
    width: 100%;
}

/* Общее для блоков */

.cont__img {
    position: relative;
    overflow: hidden;
}

.cont__img img {
    display: block;
    width: 100%;
}

	
.cont__bannermob {
	z-index:0;
	transform: translateY(-450px);}

/* Девушка */
.cont__img1 {
	z-index: 9;	
}

.cont__imgshutpc {display: none;}

.cont__img__vk {
    z-index: 2;
    position: absolute;
    left: 9.3%;
    top: 10.6%;
    width: 22.7%;
    transform: rotate(-35deg);
}

.cont__img__tp {
    z-index: 1;
    position: absolute;
    left: 28.3%;
    top: 15.6%;
    width: 21%;
    transform: rotate(-9deg);
}

.cont__img__ar1 {
    z-index: 1;
    position: absolute;
    left: 23.5%;
    top: 34%;
    width: 8%;
}

.cont__img__ar2 {
    z-index: 1;
    position: absolute;
    left: 27.13%;
    top: 35%;
	width: 1%
}

.cont__img__prizyv {
    z-index: 1;
    position: absolute;
    left: 11.0%;
    top: 47%;
}

.cont__img__agal {
    z-index: 1;
    position: absolute;
    left: 56%;
    top: 72%;
    width: 34.5%;
}

.cont__img__gal {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 124%;
    color: white;
    letter-spacing: 0.2em;
    position: absolute;
    top: 34%;
    left: 24.1%;
}

.cont__img__prizyv p {
	font-size: 280%;
    align-content: center;
    font-weight: bold;
    line-height: 1.2;
}

.cont__img__prizyv span {
	font-weight: normal;
	border: 3px solid white;
    border-right: 15px solid white;
    border-left: 3px solid white;
    background-color: white;
	}

/* Галерея */
.cont__img2 {
	z-index: 8;
    background-color: white;
    margin-top: 0.3%;
    margin-bottom: -1.5%;
    transform: scale(0.905, 0.91);
}

.cont__img__foto {
    z-index: 9;
    position: absolute;
    left: 0.3%;
    top: -0.2%;
    width: 100.5%;
    /*transform: scale(1.123, 1.139);*/
}



/* Пачка */
.cont__img3 {
	z-index: 7;
}

.cont__imgrqpc {display: none;}

.cont__img__chips {
    z-index: 1;
    position: absolute;
    left: 58%;
    top: 28.7%;
    width: 35%;
}

.cont__img__win {
    z-index: 1;
    position: absolute;
    left: 10.2%;
    top: 12.3%;
}

.cont__img__win p {
	font-size: 329.3%;
    align-content: center;
    color: #FBFBFB;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: 0.085em;
}

.cont__img__text {
    z-index: 1;
    position: absolute;
    left: 10.8%;
    top: 39.7%;
}

.cont__img__text p {
	font-size: 140.4%;
    width: 46%;
    /* z-index: 5; */
    color: #FBFBFB;
    line-height: 1.4;
    letter-spacing: 0.08em;
}

.cont__img__about {
    z-index: 1;
    position: absolute;
    display: block;
    left: 32.7%;
    top: 75%;
    width: 34.5%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    color: white;
    letter-spacing: 3px;
}

.cont__img__proj {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 53%;
    color: white;
    letter-spacing: 0.07em;
    position: absolute;
    top: 31%;
    left: 16.1%;
}

/* Шар */
.cont__img4 {
	z-index: 6;
	transform: scaleY(1.2);
	transform: translateY(-8.2%);
}

.cont__imgxppc {
	display: none;}

.cont__img__baloon {
    z-index: 1;
    position: absolute;
    left: 31.8%;
    top: 22.1%;
	width: 38%;
    transform: scale(1.1, 1.1);
}


/* Пляж */
.cont__img5 {
	z-index: 8;
	transform: translateY(58.5%);
}

.cont__imgbpc {display: none;}


/* Карта */
.cont__img6 {
	z-index: 8;
	transform: translateY(-138.4%);
}

.cont__imgmappc {display: none;}

.cont__img__mapgps {
    z-index: 1;
    position: absolute;
	left: 4.1%;
    top: 28.8%;
    width: 90%;
	
}

.cont__img__met {
    z-index: 1;
    position: absolute;
    left: 40.5%;
    top: 9.1%;
    width: 21%;
}

.cont__img__copy {
    z-index: 1;
    position: absolute;
    left: 43.9%;
    top: 13.1%;
    width: 15%;
}

.cont__img__text2 {
    z-index: 1;
    position: absolute;
    left: 22%;
    top: 60%;
}

.cont__img__text2 p {
	font-size: 363%;
    align-content: center;
    color: #000000;
    line-height: 1.39;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.cont__img__transition {
    z-index: 1;
    position: absolute;
    left: 33.6%;
    top: 75.1%;
	width: 34.5%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
}

.cont__img__per {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 53%;
    color: white;
    letter-spacing: 0.01em;
    position: absolute;
    top: 30%;
    left: 24.1%;
}

/* Футер */
.footer {
	font-family: Arial, sans-serif;
    color: #fff;
	margin-top: -41.7%;
	z-index: 3;
}

.footer__socials {
    float: right;
    width: 50%;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.footer__social {
    float: left;
    width: 25%;
    height: 2.3rem;
    display: block;
    background-size: cover;
    background-image: url(images/footer.png);
}

.footer__social--fb {background-position: -262% 0;}

.footer__social--vk {background-position: -228% 0;}

.footer__social--mail {background-position: -64% 0;}

.footer__social--yt {background-position: 99% 0;}

.footer__blockmob {
    background-color: #3c3c3c;
    padding: 5% 0 0 9%;
    height: 22.5px;
}

.footer__block2 {
    font-size: 2.03vmin;
    letter-spacing: 0.01em;
    margin-top: 0.3%;
    margin-left: 0%;
}

.footer__block1 {
	display: none
}

.footer__block {
    font-size: 13px;
    line-height: 16px;
    padding: -20px 0 0 4%;
    height: 60px;
    width: 20%;
	color: red;
	transform: translate(20px);
}

}
